* {
    box-sizing: border-box;
    margin: 0;
  }
  
  html,
  body {
    width: 100vw;
   
  }
  
  body {
    
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  header {

    display: flex;
    
    justify-content: space-between;
    padding: 25px 20px;
    background:#FFFFFF;;
  }
  
  nav > div {
    display: none;
  }
  
  nav input {
    display: none;
  }
  
  nav input:checked + div {
    display: inline-block;
  }
  
  nav input:checked + div + label span {
    color: black;
    
  }
  
/* Faz o Menu Hamburguer aparecer  na versão mobilep*/  
  .material-symbols-outlined{
    visibility: visible;
  }

/* espaçamento na nav*/  
nav a {
  padding:10px;
  text-decoration: none;
  font-size: bold;
}
  
  main {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    

    
  }

 .card{
  
  background-image: url(../imagens/coringa.png);
    width: 329px;
    height: 511px;
    color: #F4F4F4;;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid black;
    
  }

  .descricao{
   
  
    border-radius: 12px 12px 0px 0px;
    padding-top: 50px;
    width: 329px;
    height: 300px;
      background-color:#F4F4F4; 
    border-radius: 12px 12px;
    
  }




 
  /* Rodapé*/ 
  footer {
   
    width: 100%;
    height: 530px;
    background-color: #171717;;
    padding: 20px;
    color:#FFFFFF;
   
  }

  footer div{

    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer div p{
    padding: 5px;
  }

  footer div img{
    padding: 5px;
  }

 .p_rodape2{
  
    text-align: center;
    opacity: 50%;
  }

  .p_rodape1{

    opacity: 75%;
  }


  #menu a:hover{
    color:#E51B3E;
  
   
  }
  
  @media (min-width: 1024px) {
    nav > div {
      display: inline-block;
    }
    nav button {
      display: none;
    }

    .material-symbols-outlined{
      visibility:hidden;
    }
  }
  